<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">UF skórování</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li ng-class="getActiveClass('/')"><a href="#/">Hlavní stánka</a></li>
				<li ng-show="logged(3)" ng-class="getActiveClass('/newTournament')"><a href="#/newTournament">Nový turnaj</a></li>
				<li ng-show="logged(3)" ng-class="getActiveClass('/selectTournament')"><a href="#/selectTournament">Vybrat turnaj</a></li>
				<li ng-show="logged(2)" ng-class="getActiveClass('/selectMatch')"><a href="#/selectMatch">Vybrat zápas</a></li>
				<li ng-show="logged(1, true)" ng-class="getActiveClass('/spirit')"><a href="#/spirit">Hodnotit spirit</a></li>
				<li ng-class="getActiveClass('/scores')"><a href="#/scores">Výsledky</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-hide="logged()" ng-class="getActiveClass('/login')"><a href="#/login">Přihlásit se</a></li>
				<li ng-show="logged()" ng-click="logout()"><a class="cursor-pointer">Odhlásit se</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>



				<!-- <li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown"  auto-close="outsideClick">Přihlásit se <b class="caret"></b></a>
					<ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
						<li>
							<div class="row" ng-controller="Login">
								<div class="col-md-12">
									<form class="form" novalidate accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											<label class="sr-only" for="logName">Email address</label>
											<input ng-model="user.name" type="text" class="form-control" id="logName" placeholder="Název účtu" required>
										</div>
										<div class="form-group">
											<label class="sr-only" for="pass">Password</label>
											<input ng-model="user.password" type="password" class="form-control" id="pass" placeholder="Heslo" required>
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-primary" ng-click="send(user)" value="Přihlásit">
											<br>
											<a href="#">Forgot Password?</a>
										</div>
									</form>
								</div>
							</div>
						</li>
					</ul>
				</li> -->