<div class="container" ng-controller="ClubForm">

	<ul class="nav nav-tabs">
		<li class="active">
			<a>Nový klub</a>
		</li>
	</ul>

	<form novalidate class="form tabPage" name="newClub">

		<div class="form-group row">
			<label class="form-control-label col-sm-2" for="caldId">ČALD ID:</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="caldId" ng-model="club.caldId" placeholder="ČALD ID">
			</div>
		</div>

		<div class="form-group row">
			<label class="form-control-label col-sm-2" for="name">Název:</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="name" ng-model="club.name" placeholder="Název" name="name" required>
			</div>
			<div class="col-sm-2 formMsg" ng-messages="newClub.name.$error">
				<div ng-include="ngMessagesFile"></div>
			</div>
		</div>

		<div class="form-group row">
			<label class="form-control-label col-sm-2" for="shortcut">Zkratka:</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="shortcut" ng-model="club.shortcut" placeholder="Zkratka" name="shotcut" required>
			</div>
			<div class="col-sm-2 formMsg" ng-messages="newClub.shotcut.$error">
				<div ng-include="ngMessagesFile"></div>
			</div>
		</div>

		<div class="form-group row">
			<label class="form-control-label col-sm-2" for="city">Město:</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="city" ng-model="club.city" placeholder="Město" name="city" required>
			</div>
			<div class="col-sm-2 formMsg" ng-messages="newClub.city.$error">
				<div ng-include="ngMessagesFile"></div>
			</div>
		</div>

		<div class="form-group row">
			<label class="form-control-label col-sm-2" for="country">Země:</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="country" ng-model="club.country" placeholder="Země" name="country" required>
			</div>
			<div class="col-sm-2 formMsg" ng-messages="newClub.country.$error">
				<div ng-include="ngMessagesFile"></div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-offset-2 col-sm-10">
				<input class="btn btn-primary" type="submit" ng-click="post(club)" value="Uložit">
			</div>
		</div>
	</form>

</div>