<div class="container">

	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Vytvořit turnaj</div>
				<div class="panel-body">
					
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Skórovat turnaj/zápas</div>
				<div class="panel-body">
					
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Zobrazit probíhající zápasy</div>
				<div class="panel-body">
					
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Zobrazit výsledky</div>
				<div class="panel-body">
					
				</div>
			</div>
		</div>
	</div>

</div>
