<div class="container" ng-controller="Home">

	<!-- <h2>Api test</h2>
	<pre class="alert alert-info">{{ data | json }}</pre> -->

	<div class="row">
		<!-- <div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Vytvořit turnaj</div>
				<div class="panel-body">
					
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Skórovat turnaj/zápas</div>
				<div class="panel-body">
					
				</div>
			</div>
		</div> -->

		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Probíhající zápasy</div>
				<div class="panel-body">
					<div class="table-responzive" ng-hide="data.ongoing.length === 0">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Datum a čas</th>
									<th>Domácí</th>
									<th>Hosté</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in data.ongoing">
									<td>{{row.time.start | date: 'dd. MM. yyyy HH:mm'}}</td>
									<td>{{row.homeTeam.name}}</td>
									<td>{{row.awayTeam.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="text-muted" ng-show="data.ongoing.length === 0">
						Zádné probíhající zápasy
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Plánované turnaje</div>
				<div class="panel-body">
					<div class="table-responzive" ng-hide="data.upcomming.length === 0">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Datum a čas</th>
									<th>Název</th>
									<th>Místo</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in data.upcomming">
									<td>{{row.startDate | date: 'dd. MM. yyyy HH:mm'}}</td>
									<td>{{row.name}}</td>
									<td>{{row.city}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="text-muted" ng-show="data.upcomming.length === 0">
						Zádné plánované turnaje
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div ng-hide="logged()" ng-include="'partials/login.html'"></div>
