<div class="container" ng-controller="Profile">
	
	<div ng-show="actionFile">
		<button class="btn btn-primary" ng-click="profile()">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Zpět na profil
		</button>
		<div class="margin-top-20" ng-include="actionFile"></div>
	</div>

	<div ng-hide="actionFile">

		<div class="row nav-row">
			<div class="col-sm-9">
				<h1>Profil <small>{{user.email}} ({{getRoleName()}})</small></h1>
			</div>
			<div class="col-sm-3 text-right">
				<button class="btn btn-primary" ng-click="editProfile()">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Upravit profil
				</button>
			</div>
		</div>

	</div>

</div>