<div class="container" ng-controller="Scores">

	<h1>Výsledky</h1>

	<form class="form">
		<div class="form-group">
			<select class="form-control" ng-model="selected.tournament"
				ng-options="obj.name for obj in data">
				<option value="">Vyberte turnaj</option>
			</select>
		</div>
		
		<div class="form-group">
			<select class="form-control" ng-model="selected.match" ng-disabled="isEmpty(selected.tournament)"
				ng-options="obj.team_home.name + ' vs. ' + obj.team_away.name for obj in selected.tournament.matches">
				<option value="">Vyberte zápas</option>
			</select>
		</div>

		<!-- <div class="form-group">
			<input class="btn btn-primary" type="button" value="Zobrazit výsledky" 
			ng-disabled="isEmpty(selected.tournament)" ng-click="show()">
		</div> -->
	</form>

	<div class="table-responzive" ng-hide="isEmpty(scoreData.length)">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Domácí</th>
					<th>Hosté</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="one in scoreData">
					<td>{{one.id}}</td>
					<td>{{one.team_home.name}}</td>
					<td>{{one.team_away.name}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- <pre>{{scoreData | json}}</pre> -->


</div>
