
<form class="form">
	<div class="form-group row">
		<div class="col-sm-2">ID</div>
		<div class="col-sm-5">Název</div>
		<div class="col-sm-5">Skupina</div>
	</div>

	<div class="form-group row" ng-repeat="data in tour.table">
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="data.id" placeholder="ID">
		</div>
		<div class="col-sm-5">
			<input class="form-control" type="text" ng-model="data.name" placeholder="Název">
		</div>
		<div class="col-sm-5">
			<input class="form-control" type="text" ng-model="data.group" placeholder="Skupina">
		</div>
	</div>

	<div class="form-group">
		<button class="btn btn-secondary" ng-click="addRow()">Přidat další</button>
	</div>
</form>