
<div class="form-group-set" ng-repeat="data in tour.playoff">

	<div class="form-group row">
		<label class="form-control-label col-sm-2" for="ide{{$index}}">Identifikátor:</label>
		<div class="col-sm-8">
			<input class="form-control" type="text" id="ide{{$index}}" name="ide{{$index}}" ng-model="data.ide" placeholder="Identifikátor" required>
		</div>
		<div class="col-sm-2 formMsg" ng-messages="newTour['ide'+$index].$error">
			<div ng-include="ngMessagesFile"></div>
		</div>
	</div>

	<div class="form-group row">
		<label class="form-control-label col-sm-2" for="homeSeed{{$index}}" 
			data-toggle="tooltip" data-placement="bottom" title="{{tooltips.tba}}">
			Domácí:
			<div class="form-info-right">
				<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			</div>
		</label>
		<div class="col-sm-8">
			<select class="form-control" id="homeSeed{{$index}}" ng-model="data.homeSeed" name="homeSeed{{$index}}" required
				ng-options="team.id as team.name for team in tour.teams">
				<option value="">TBA</option>
			</select>
		</div>
		<div class="col-sm-2 formMsg" ng-messages="newTour['homeSeed'+$index].$error">
			<div ng-include="ngMessagesFile"></div>
		</div>
	</div>

	<div class="form-group row">
		<label class="form-control-label col-sm-2" for="awaySeed{{$index}}" 
			data-toggle="tooltip" data-placement="bottom" title="{{tooltips.tba}}">
			Hosté:
			<div class="form-info-right">
				<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			</div>
		</label>
		<div class="col-sm-8">
			<select class="form-control" id="awaySeed{{$index}}" ng-model="data.awaySeed" name="awaySeed{{$index}}" required
				ng-options="team.id as team.name for team in tour.teams"> <!--  | definedValue:'seeding' -->
				<option value="">TBA</option>
			</select>
		</div>
		<div class="col-sm-2 formMsg" ng-messages="newTour['awaySeed'+$index].$error">
			<div ng-include="ngMessagesFile"></div>
		</div>
	</div>

	<div class="form-group row">
		<label class="form-control-label col-sm-2" for="time{{$index}}">Čas začátku:</label>
		<div class="col-sm-4">
			<input type="text" id="time{{$index}}" class="form-control timepicker" ng-model="data.time.start.time" placeholder="Čas">
		</div>
		<div class="col-sm-4">
			<div class="input-group date">
				<input class="form-control" type="text" id="startDate{{$index}}" ng-model="data.time.start.date" placeholder="Datum">
				<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
			</div>
		</div>
		<div class="col-sm-2 formMsg" ng-messages="newTour['startDate'+$index].$error">
			<div ng-include="ngMessagesFile"></div>
		</div>
	</div>

	<div class="form-group row">
		<label class="form-control-label col-sm-2" for="field{{$index}}">Hřiště:</label>
		<div class="col-sm-8">
			<select class="form-control" id="field{{$index}}" ng-model="data.field" name="field{{$index}}" required
				ng-options="field.id as field.name for field in tour.fields | definedValue:'name'">
				<option value="">Vyberte hřiště</option>
			</select>
		</div>
		<div class="col-sm-2 formMsg" ng-messages="newTour['field'+$index].$error">
			<div ng-include="ngMessagesFile"></div>
		</div>
	</div>

	<div class="form-group row">
		<label class="form-control-label col-sm-2" for="winnerStep{{$index}}">Postup vítěze:</label>
		<div class="col-sm-4">
			<select class="form-control" id="winnerStep{{$index}}" ng-model="data.winnerNextStep" 
				ng-options="match.ide as getSelectDescForField(match) for match in tour.matches | definedValue:'ide'"
				ng-validate-next-step="winnerFinalStanding" name="winnerStep{{$index}}">
				<option value="">Zápas</option>
			</select>
		</div>
		<div class="col-sm-1 text-center formMsg">nebo</div>
		<div class="col-sm-3">
			<input type="number" id="winnerStanding{{$index}}" class="form-control" 
			ng-model="data.winnerFinalStanding" placeholder="Umístění" 
			ng-validate-final-standing="winnerNextStep" name="winnerStanding{{$index}}">
		</div>
		<div class="col-sm-2 formMsg">
			<div ng-messages="newTour['winnerStep'+$index].$error">
				<div ng-include="ngMessagesFile"></div>
			</div>
			<div ng-messages="newTour['winnerStanding'+$index].$error">
				<div ng-include="ngMessagesFile"></div>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label class="form-control-label col-sm-2" for="looser{{$index}}">Postup poraženého:</label>
		<div class="col-sm-4">
			<select class="form-control" id="looserStep{{$index}}" ng-model="data.looserNextStep" name="looser{{$index}}"
				ng-options="match.ide as getSelectDescForField(match) for match in tour.matches | definedValue:'ide'"
				ng-validate-next-step="looserFinalStanding" name="looserStep{{$index}}">
				<option value="">Zápas</option>
			</select>
		</div>
		<div class="col-sm-1 text-center formMsg">nebo</div>
		<div class="col-sm-3">
			<input type="number" id="looserStanding{{$index}}" class="form-control" 
			ng-model="data.looserFinalStanding" placeholder="Umístění"
			ng-validate-final-standing="looserNextStep" name="looserStanding{{$index}}">
		</div>
		<div class="col-sm-2 formMsg">
			<div ng-messages="newTour['looserStep'+$index].$error">
				<div ng-include="ngMessagesFile"></div>
			</div>
			<div ng-messages="newTour['looserStanding'+$index].$error">
				<div ng-include="ngMessagesFile"></div>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label class="form-control-label col-sm-2" for="description{{$index}}">Popis:</label>
		<div class="col-sm-8">
			<input class="form-control" type="text" id="description{{$index}}" ng-model="data.description" placeholder="Popis">
		</div>
	</div>

	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
		$('.timepicker').timepicker({
			'timeFormat': 'H:i'
		})
		$('.form-group .date').datepicker({
			format: "yyyy-mm-dd",
			language: "cs"
		})
	</script>

</div>

<div class="form-group row">
	<div class="col-sm-offset-2 col-sm-10">
		<button class="btn btn-secondary" ng-click="addPlayoffMatch()">Přidat zápas</button>
	</div>
</div>
