<div ng-controller="OnlineScoring">
	<div class="container">

		<div ng-include="'templates/breadcrumb.html'"></div>

		<h1>{{ data.home.name }} vs. {{ data.away.name }} <small>Skórování</small></h1>

		<!-- <pre>{{actualScore | json}}</pre> -->

		<form class="form">

			<div class="form-group row">
				<div class="col-sm-6">
					<div class="panel panel-primary">
						<div class="panel-heading">Domácí {{data.home.name}}</div>
						<div class="panel-body">
							<div class="text-center">
								<h2>{{actualScore.home}}</h2>
							</div>
							<button type="button" class="btn btn-success btn-lg btn-block score-btn" 
							ng-click="plus('home')" data-toggle="modal" data-target="#scorePoint">+</button>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-primary">
						<div class="panel-heading">Hosté {{data.away.name}}</div>
						<div class="panel-body">
							<div class="text-center">
								<h2>{{actualScore.away}}</h2>
							</div>
							<button type="button" class="btn btn-success btn-lg btn-block score-btn" 
							ng-click="plus('away')" data-toggle="modal" href="#scorePoint">+</button>
						</div>
					</div>
				</div>
			</div>
		</form>

		<!-- <pre>{{scored | json}}</pre>
		<pre>{{db | json}}</pre>
		<pre>{{data[scored.team].players | json}}</pre> -->

		<div id="scorePoint" class="modal" data-replace="true" aria-hidden="false">
			<div class="modal-dialog">

				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">{{ data[scored.team].name }} - přidat bod</h4>
					</div>
					<div class="modal-body row">
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">Asistence</div>
								<div class="panel-body">
									<div class="form-group">
										<div class="radio">
											<label class="radio">
												<input type="radio" ng-model="scored.assist" value="null">
												Anonym
											</label>
										</div>
										<div class="radio" ng-class="disabled(assistent.id, scored.point)" ng-repeat="assistent in data[scored.team].players">
											<label class="radio">
												<input type="radio" ng-model="scored.assist" value="{{assistent.id}}" ng-disabled="compare(assistent.id, scored.point)">
												{{assistent.name}}
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">Bod</div>
								<div class="panel-body">
									<div class="form-group">
										<div class="radio">
											<label class="radio">
												<input type="radio" ng-model="scored.point" value="null">
												Anonym
											</label>
										</div>
										<div class="radio" ng-class="disabled(pointer.id, scored.assist)" ng-repeat="pointer in data[scored.team].players">
											<label class="radio">
												<input type="radio" ng-model="scored.point" value="{{pointer.id}}" ng-disabled="compare(pointer.id, scored.assist)">
												{{pointer.name}}
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" 
						ng-click="score(false)">Zrušit</button>

						<button type="button" class="btn btn-primary" data-dismiss="modal" 
						ng-click="score(true)">Potvrdit</button>  <!-- ng-disabled="!scored[scored.team].assist || !scored[scored.team].point" -->
					</div>
				</div>

			</div>
		</div>

	</div>

	<div id="stepBack" class="stepBack">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="stepTitle">Zrušit poslední zapsaný bod - {{ data[db[db.length-1].team].name }}</div>
				</div>
				<div class="col-sm-offset-1 col-sm-2 text-right">
					<button type="button" class="btn-stepBack" 
					ng-click="stepBack(false)">Zrušit</button>
				</div>
			</div>
		</div>
	</div>
</div>