<div ng-controller="OnlineScoring">
	<div class="container">

<!-- <pre>{{ data.homeTeam.players | json }}</pre> -->

		<div ng-include="'templates/breadcrumb.html'"></div>

		<h1>{{ data.homeTeam.name }} <small>vs.</small> {{ data.awayTeam.name }} <small>Skórování</small></h1>

		<!-- <pre>{{data.points[0] | json}}</pre> -->

		<form novalidate class="form">

			<div class="row">
				<div class="col-xs-6">
					<div class="panel panel-primary">
						<div class="panel-heading text-center">Domácí - {{data.homeTeam.name}}</div>
						<div class="panel-body">
							<div class="text-center">
								<h2>{{data.points[0].homeScore || 0}}</h2>
							</div>
							<button type="button" class="btn btn-success btn-lg btn-block score-btn" 
							ng-click="plus(true)" data-toggle="modal" data-target="#scorePoint">+</button>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="panel panel-primary">
						<div class="panel-heading text-center">Hosté - {{data.awayTeam.name}}</div>
						<div class="panel-body">
							<div class="text-center">
								<h2>{{data.points[0].awayScore || 0}}</h2>
							</div>
							<button type="button" class="btn btn-success btn-lg btn-block score-btn" 
							ng-click="plus(false)" data-toggle="modal" href="#scorePoint">+</button>
						</div>
					</div>
				</div>
			</div>
		</form>

		<!-- <pre>{{scored | json}}</pre> -->
		<!-- <pre>{{data.points | json}}</pre>
		<pre>{{data[scored.team].players | json}}</pre> -->

		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<button type="button" class="scoreHistory-btn btn btn-danger btn-lg btn-block" 
				ng-click="matchEnd()">Ukončit zápas</button>
			</div>
		</div>

		<div class="row scoreHistory">
			<div class="scoreHistory-block col-sm-12 col-md-offset-1 col-md-10">
				<div class="">
					<button type="button" class="scoreHistory-btn btn btn-primary btn-lg btn-block" id="ScoreHistoryToggle" 
					ng-click="toggleScoreHistory()">Zobrazit podrobnosti</button>
				</div>

				<div ng-if="detail" class="scoreHistory-list table-responzive">
					<table class="table table-striped">
						<thead>
							<tr class="sm-hide">
								<th style="width: 45%" colspan="3">Domácí</th>
								<th class="delimiter">:</th>
								<th style="width: 45%" colspan="3">Hosté</th>
							</tr>
							<tr class="sm-show">
								<th style="width: 45%" colspan="2">Domácí</th>
								<th class="delimiter">:</th>
								<th style="width: 45%" colspan="2">Hosté</th>
							</tr>
							<tr>
								<th class="name sm-hide">Asistence</th>
								<th class="name">Bod</th>
								<th class="score">Skóre</th>
								<th class="delimiter">:</th>
								<th class="score">Skóre</th>
								<th class="name">Bod</th>
								<th class="name sm-hide">Asistence</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="data.points.length === 0">
								<td class="text-center sm-hide"></td>
								<td class="text-center"></td>
								<td class="text-right">0</td>
								<td class="delimiter">:</td>
								<td class="text-left">0</td>
								<td class="text-center"></td>
								<td class="text-center sm-hide"></td>
							</tr>
							<tr ng-repeat="point in data.points" ng-class="{
								'homeTeamRow': (point.homePoint),
								'awayTeamRow': (!point.homePoint)
							}">
								<td class="text-center sm-hide">{{ echoPlayer(point.assistPlayer, point.homePoint===1) }}</td>
								<td class="text-center">{{ echoPlayer(point.scorePlayer, point.homePoint===1) }}</td>
								<td class="text-right">{{ point.homeScore }}</td>
								<td class="delimiter">:</td>
								<td class="text-left">{{ point.awayScore }}</td>
								<td class="text-center">{{ echoPlayer(point.scorePlayer, point.homePoint===0) }}</td>
								<td class="text-center sm-hide">{{ echoPlayer(point.assistPlayer, point.homePoint===0) }}</td>
							</tr>
						</tbody>
					</table>
					<!-- <div class="row text-center scoreHistoryHeader">
						<div class="col-sm-6">
							{{data.home.name}}
						</div>
						<div class="col-sm-6">
							{{data.away.name}}
						</div>
					</div>
					<div class="">
						<ol>
							<li ng-repeat="(i, point) in data.points" class="{{point.team}}">{{point.actualScore.home}}:{{point.actualScore.away}}</li>
						</ol>
					</div> -->
				</div>
			</div>
		</div>

		<div id="scorePoint" class="modal" data-replace="true" aria-hidden="false">
			<div class="modal-dialog">

				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">{{ data[(scored.homePoint) ? 'homeTeam' : 'awayTeam'].name }} - přidat bod</h4>
					</div>
					<div class="modal-body row">
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">Asistence</div>
								<div class="panel-body">
									<div class="form-group">
										<div class="radio">
											<label class="radio">
												<input ng-model="scored.assistPlayerId" type="radio" value="null">
												Anonym
											</label>
										</div>
										<div class="radio" 
											ng-repeat="assistent in players"
											ng-class="disabled(assistent.id, scored.point)" 
										>
											<label class="radio">
												<input ng-model="scored.assistPlayerId" ng-disabled="compare(assistent.id, scored.scorePlayerId)" 
												type="radio" value="{{assistent.id}}">
												{{assistent.firstname}} {{assistent.lastname}}
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">Bod</div>
								<div class="panel-body">
									<div class="form-group">
										<div class="radio">
											<label class="radio">
												<input type="radio" ng-model="scored.scorePlayerId" value="null">
												Anonym
											</label>
										</div>
										<div class="radio" 
											ng-repeat="scorer in players" 
											ng-class="disabled(scorer.id, scored.assist)" 
										>
											<label class="radio">
												<input type="radio" ng-model="scored.scorePlayerId" value="{{scorer.id}}" ng-disabled="compare(scorer.id, scored.assistPlayerId)">
												{{scorer.firstname}} {{scorer.lastname}}
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" 
						ng-click="score(false)">Zrušit</button>

						<button type="button" class="btn btn-primary" data-dismiss="modal" 
						ng-click="score(true)">Potvrdit</button>  <!-- ng-disabled="!scored[scored.team].assist || !scored[scored.team].point" -->
					</div>
				</div>

			</div>
		</div>

	</div>

	<div id="stepBack" class="stepBack">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="stepTitle">
						Zrušit poslední zapsaný bod - {{ (data.points[0].homePoint) ? data.homeTeam.name : data.awayTeam.name }}
					</div>
				</div>
				<div class="col-sm-offset-1 col-sm-2 text-right">
					<button type="button" class="btn-stepBack" 
					ng-click="stepBack(false)">Zrušit</button>
				</div>
			</div>
		</div>
	</div>
</div>