<div class="container" ng-controller="SelectTournament">

	<div ng-include="'templates/breadcrumb.html'"></div>

	<h1>Výběr turnaje</h1>

	<form novalidate class="form">
		<div class="form-group">
			<!-- <div class="dropdown pull-right makePaymentDropdownMainDiv" auto-close="outsideClick">
				<button class="btn btn-default dropdown-toggle makePaymentDropdownBtn" type="button" id="individualDrop" data-toggle="dropdown">{{payment.entity}}<span class="caret pull-right"></span></button>
				<span ng-show="submitted"><label class="error">Select an Individual</label></span>
				<ul class="dropdown-menu makePaymentDropdownUlStyle" role="menu" aria-labelledby="individualDrop">
					<input disable-auto-close type="search" ng-model="serchFilter" class="makePaymentDropdownSearchBox" placeholder="Search"></input>
					<li role="presentation" ng-repeat="obj in data | filter: serchFilter">
						<a role="menuitem" ng-click="selectEntity(obj)">{{obj.name}}</a>
					</li>
				</ul>
			</div> -->

			<select class="form-control" id="tournament" ng-model="selected.tournament"
				ng-options="obj.id as obj.name for obj in data | filter: serchFilter">
				<option value="">Vyberte turnaj</option>
			</select>
		</div>

		<div class="form-group">
			<input class="btn btn-primary" type="button" value="Přihlásit se ke skórování" 
			ng-disabled="isEmpty(selected.tournament)" ng-click=""> <!-- TODO login('tournament', selected, false) -->
		</div>
	</form>

	<!-- <pre>{{selected | json}}</pre> -->
	<!-- <pre>{{selected.match | json}}</pre> -->

</div>
